<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/123.png" alt="" width="80" height="70" class="d-inline-block align-text-top">

    </a>
     <app-login></app-login>

      
       
        
  </div>
</nav>


 <!-- <p-menubar id="men" [model]="items" style="margin-bottom: 25px;" >
    <ng-template pTemplate="start" >
     <img src="assets/img/123.png" height="55"  class="p-mr-2">
     

    </ng-template  >
   
          
    
      
    
    <button pButton label="Home" routerLink="/" icon="pi pi-home"></button>
     <ng-template pTemplate="end" >
        
    </ng-template>  
</p-menubar>  -->