 

<table class="table  " >
    <thead>
      <tr>
        <td class="mb-3" >
  <input type="text" [(ngModel)]="filterBrandText" class="form-control" id="filterBrandText" 
  placeholder="Brand Search">
</td>        
      </tr>
    </thead>
    <select class="form-select " aria-label="Default select example ">
      <option  class="form-select" *ngFor="let brand of brands | filterBrand:filterBrandText  "  >

        
       
        <td (click)="setCurrentBrand(brand)" routerLink="cardetails/brand/{{brand.id}}"
        [class]="getCurrentBrandClass(brand)" >{{brand.brandName}}</td>        
      </option>    
    </select>
  </table>  
  <!-- <select [(ngModel)]="filterBrandText"  class="form-select" aria-label="Default select example">
    <option *ngFor="let brand of brands" [value]="brand.id" selected="{{getSelectedBrand(brand.id)}}">{{brand.brandName}}</option>
  </select> -->
