
<!-- <div class="row">
    <div class="col-md-4">
        <app-color></app-color>
    </div>
    <div class="col-md-4">
        <app-brand></app-brand>
    </div>
    
    <div class="col-md-2">
        <div class="row" style="margin-bottom: 5px; margin-top: 7px;">
            <a routerLink="/cardetails/{{brandFilter}}/{{colorFilter}}" class="btn btn-success">Filtrele</a>
        </div>

        <div class="row ">
            <a routerLink="" class="btn btn-danger">Temizle</a>
        </div>
    </div>
</div>   -->
